<table id="zenstruck-media-table" class="table table-striped table-condensed table-hover table-bordered">
    <thead>
        <tr>
            <th>Filename</th>
            <th>Path</th>
            <th>Modified</th>
            <th>Size</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% if manager.path %}
        <tr>
            <td colspan="100"><i class="icon-arrow-up"></i> <a href="{{ path('zenstruck_media_list', manager.requestParams({ 'path': manager.previousPath })) }}">...</a></td>
        </tr>
    {% endif %}
    {% for file in manager.files %}
        <tr>
            <td>
                {% if file.isDir %}
                    <i class="icon-folder-open"></i>
                    <a href="{{ path('zenstruck_media_list', manager.requestParams({ 'path': manager.path ~ '/' ~ file.getFilename })) }}">
                        {{ file.getFilename }}
                    </a>
                {% else %}
                    <i class="icon-custom-{{ file.getExtension }}"></i> <a href="#" data-file="{{ file.webPath }}" class="zenstruck-media-file-select">{{ file.getFilename }}</a>
                {% endif %}
            </td>
            <td>
                {% if file.isFile %}
                    <a href="{{ file.getWebPath }}" target="_blank"><small>{{ file.getWebPath }}</small></a>
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
            <td>
                <em class="muted">{{ file.getMTime|date }}</em>
                {% if file.isNew %}
                    <span class="label label-success">new</span>
                {% endif %}
            </td>
            <td>
                {% if file.isFile %}
                    <em class="muted">{{ file.getHumanFileSize }}</em>
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
            <td class="zenstruck-media-actions">
                {% include 'ZenstruckMediaBundle:Twitter:_file_actions.html.twig' with { 'manager': manager, 'file': file } %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="100"><em>No files</em></td>
        </tr>
    {% endfor %}
    </tbody>
</table>