<ul id="zenstruck-media-thumb" class="thumbnails">
    {% if manager.path %}
        <li class="span2">
            {{ _self.thumbnail(path('zenstruck_media_list', manager.requestParams({ 'path': manager.previousPath })), '...', asset('bundles/zenstruckmedia/images/icons/up.png')) }}
        </li>
    {% endif %}
    {% for file in manager.files %}
        <li class="span2">
            {% if file.isDir %}
                {% set image = asset('bundles/zenstruckmedia/images/icons/folder.png') %}
                {% set src = path('zenstruck_media_list', manager.requestParams({ 'path': manager.path ~ '/' ~ file.getFilename })) %}
            {% else %}
                {% set src = '#' %}
                {% if file.isImage %}
                    {% set image = file.webPath %}
                {% else %}
                    {% set image = asset('bundles/zenstruckmedia/images/icons/file.png') %}
                {% endif %}
            {% endif %}

            <div class="zenstruck-media-actions hide">
                {% include 'ZenstruckMediaBundle:Twitter:_file_actions.html.twig' with { 'manager': manager, 'file': file } %}
            </div>

            {{ _self.thumbnail(src, file.getFilename, image, file.webPath, file.isFile) }}
        </li>
    {% else %}
        <li class="span2"><em>No Files</em></li>
    {% endfor %}
</ul>

{% macro thumbnail(src, filename, image, webPath = null, file = false) %}
    <a href="{{ src }}" title="{{ filename }}" data-file="{{ webPath }}" class="thumbnail{{ file ? ' zenstruck-media-file-select' : null }}">
                <span class="zenstruck-media-thumbnail-container">
                    <span>
                        <img src="{{ image }}" />
                    </span>
                </span>
        <span class="zenstruck-media-thumbnail-caption">{{ filename }}</span>
    </a>
{% endmacro %}