{% extends layout ? layout : default_layout %}

{% block title %}Media Manager{% endblock %}

{% block content %}
    <div id="zenstruck-media" ng-app="ZenstruckMedia"
         data-list-url="{{ path('zenstruck_media_files') }}"
         data-mkdir-url="{{ path('zenstruck_media_mkdir') }}"
         data-delete-url="{{ path('zenstruck_media_delete') }}"
         data-rename-url="{{ path('zenstruck_media_rename') }}"
         data-upload-url="{{ path('zenstruck_media_upload') }}"
         data-filesystem="{{ filesystem.name }}"
         data-opener="{{ opener }}"
         data-opener-param="{{ opener_param }}"
    >
        <div ng-view></div>

        <script type="text/ng-template" id="list.html">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a ng-class="{btn: true, 'btn-small': true, 'disabled': !path}" href="#/?path=[[ prevPath ]]"><i class="icon-arrow-left"></i></a>
                </div>
                <div class="btn-group">
                    <div class="btn-text">
                        / <span ng-show="path"><a href="#/"><em>root</em></a> /</span>
                        <span ng-repeat="ancestor in pathHistory"><a href="#/?path=[[ ancestor.path ]]">[[ ancestor.name ]]</a> / </span>
                        <span>[[ current_dir ]]</span>
                    </div>
                </div>
                {% if filesystems|length > 1 and not lock %}
                    <div class="btn-group">
                        <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                            Filesystem: {{ filesystem.name }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% for system in filesystems %}
                                {% if system != filesystem.name %}
                                    <li><a href="{{ path('zenstruck_media_index', { 'filesystem': system }) }}">Filesystem: {{ system }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="btn-group">
                    <a href="" class="btn btn-small" title="Refresh" ng-click="refresh()">
                        <i class="icon-refresh"></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a class="btn btn-small" ng-click="openUploadDialog()" href="">
                        <i class="icon-upload"></i> Upload
                    </a>
                    <a class="btn btn-small" ng-click="openMkdirDialog()" href="">
                        <i class="icon-folder-open"></i> New
                    </a>
                </div>
                <div class="btn-group">
                    <div class="input-append">
                        <input class="btn-input" ng-model="filter.filename" type="text" placeholder="Filter" />
                        <button class="btn btn-small" ng-click="filter = ''" type="button"><i class="icon-remove"></i></button>
                    </div>

                </div>
            </div>

            <div ng-show="alert.message" class="alert alert-[[ alert.type ]]">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                [[ alert.message ]]
            </div>

            <hr />

            <ul id="zenstruck-media-thumb" class="thumbnails">
                <li ng-show="path" class="span2">
                    <a href="#/?path=[[ prevPath ]]" class="thumbnail">
                        <span class="zenstruck-media-thumbnail-container">
                            <span>
                                <img src="{{ asset('bundles/zenstruckmedia/images/icons/up.png') }}" />
                            </span>
                        </span>
                        <span class="zenstruck-media-thumbnail-caption">...</span>
                    </a>
                </li>
                <li class="span2" ng-repeat="file in files | filter:filter" ng-switch="file.type">
                    <div class="zenstruck-media-actions hide">
                        <a title="Rename" ng-click="openRenameDialog(file)" href="" class="btn btn-mini zenstruck-media-rename"><i class="icon-edit"></i></a>
                        <a title="Delete" ng-click="delete(file)" class="btn btn-mini btn-danger" href=""><i class="icon-trash icon-white"></i></a>
                    </div>
                    <a href="#/?path=[[ getPathForFilename(file.filename) ]]" ng-switch-when="dir" title="[[ file.filename ]]" data-file="[[ file.web_path ]]" class="thumbnail">
                        <span class="zenstruck-media-thumbnail-container">
                            <span>
                                <img src="{{ asset('bundles/zenstruckmedia/images/icons/folder.png') }}" />
                            </span>
                        </span>
                        <span class="zenstruck-media-thumbnail-caption">[[ file.filename ]]</span>
                    </a>
                    <a href="" ng-click="clickFile(file)" ng-switch-when="file" title="[[ file.filename ]]" data-file="[[ file.web_path ]]" class="thumbnail">
                        <span class="zenstruck-media-thumbnail-container">
                            <span ng-switch="file.image">
                                <img ng-switch-when="true" ng-src="[[ file.web_path ]]" />
                                <img ng-switch-default src="{{ asset('bundles/zenstruckmedia/images/icons/file.png') }}" />
                            </span>
                        </span>
                        <span class="zenstruck-media-thumbnail-caption">[[ file.filename ]]</span>
                    </a>
                </li>
            </ul>

            <div id="zenstruck-media-mkdir" class="modal hide fade">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Make Directory</h3>
                </div>
                <form class="form-horizontal">
                    <div class="modal-body">
                        <div class="control-group">
                            <label class="control-label" for="zenstruck-media-new-folder-name">Directory Name</label>
                            <div class="controls">
                                <input type="text" ng-model="new_dir_name" name="dir_name" id="zenstruck-media-new-folder-name">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn" data-dismiss="modal">Close</a>
                        <input type="submit" ng-click="mkdir()" data-dismiss="modal" class="btn btn-primary" value="Create" />
                    </div>
                </form>
            </div>

            <div id="zenstruck-media-rename" class="modal hide fade">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Rename</h3>
                </div>
                <form method="post" action="" class="form-horizontal">
                    <div class="modal-body">
                        <div class="control-group">
                            <label class="control-label" for="zenstruck-media-rename-new-name">New Name</label>
                            <div class="controls">
                                <input type="text" ng-model="rename_new" name="new_name" id="zenstruck-media-rename-new-name">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn" data-dismiss="modal">Close</a>
                        <input type="submit" ng-click="rename()" data-dismiss="modal" class="btn btn-primary" value="Rename" />
                    </div>
                </form>
            </div>
            <div id="zenstruck-media-upload" class="modal hide fade">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Upload</h3>
                </div>
                <form ng-upload action="[[ upload_url ]]" class="form-horizontal">
                    <div class="modal-body">
                        <label class="control-label" for="zenstruck-media-upload-file">Select a file</label>
                        <div class="controls">
                            <input type="file" name="file" id="zenstruck-media-upload-file" />
                            {% if filesystem.allowedExtensions %}
                                <div class="help-block">
                                    Allowed Extensions: {{ filesystem.allowedExtensions|join(', ') }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn" data-dismiss="modal">Close</a>
                        <input type="submit" data-dismiss="modal" upload-submit="upload(content, completed)" class="btn btn-primary" value="Upload" />
                    </div>
                </form>
            </div>
        </script>
    </div>
{% endblock %}
