{% set layout = manager.parameter('layout', null, [null, 'iframe', 'window']) %}
{% set view = manager.parameter('view', 'thumb', ['thumb', 'detail']) %}
{% set ckeditor = manager.parameter('CKEditorFuncNum') %}

{% extends layout ? 'ZenstruckMediaBundle:Twitter:default_layout.html.twig' : default_layout %}

{% block title %}Media Manager{% endblock %}

{% block body %}
    <div id="zenstruck-media" data-layout="{{ layout }}" data-ckeditor="{{ ckeditor }}">
        <div class="btn-toolbar">
            <div class="btn-group">
                {% if manager.path %}
                    <a class="btn btn-small" href="{{ path('zenstruck_media_list', manager.requestParams({ 'path': manager.previousPath })) }}"><i class="icon-arrow-left"></i></a>
                {% else %}
                    <span class="btn btn-small disabled"><i class="icon-arrow-left"></i></span>
                {% endif %}
            </div>

            <div class="btn-text">
                /
                {% if manager.path %}
                    <a href="{{ path('zenstruck_media_list', manager.requestParams({ 'path': null })) }}"><em>root</em></a> /
                {% endif %}
                {% set prev_path = [] %}
                {% for dir in manager.ancestry %}
                    {% set prev_path = prev_path|merge([dir]) %}
                    {% if not loop.last %}
                        <a href="{{ path('zenstruck_media_list', manager.requestParams({ 'path': prev_path|join('/') })) }}">{{ dir }}</a> /
                    {% else %}
                        {{ dir }}
                    {% endif %}
                {% endfor %}
            </div>

            {% if filesystems|length > 1 and not manager.parameter('lock') %}
                <div class="btn-group">
                    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                        Filesystem: {{ manager.name }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for filesystem in filesystems %}
                            {% if filesystem != manager.name %}
                                <li><a href="{{ path('zenstruck_media_list', manager.requestParams({ 'filesystem': filesystem })) }}">Filesystem: {{ filesystem }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="btn-group">
                {% if manager.permissions.canMkDir %}
                    <a class="btn btn-small" data-toggle="modal" href="#zenstruck-media-mkdir"><i class="icon-folder-open"></i> New</a>
                {% endif %}
                {% if manager.permissions.canUploadFile %}
                    <a class="btn btn-small" data-toggle="modal" href="#zenstruck-media-upload"><i class="icon-upload"></i> Upload</a>
                {% endif %}
            </div>

            <div class="btn-group">
                <a href="{{ path('zenstruck_media_list', manager.requestParams({ 'view': 'thumb' })) }}" data-placement="bottom" title="Thumbnail view" class="btn btn-small{{ view == 'thumb' ? ' active' : null }}"><i class="icon-th"></i></a>
                <a href="{{ path('zenstruck_media_list', manager.requestParams({ 'view': 'detail' })) }}" data-placement="bottom" title="Detail view" class="btn btn-small{{ view == 'detail' ? ' active' : null }}"><i class="icon-list"></i></a>
            </div>
        </div>
        <hr />

        {% include 'ZenstruckMediaBundle:Twitter:_' ~ view ~ '.html.twig' with { 'manager': manager } %}

        <div id="zenstruck-media-mkdir" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Make Directory</h3>
            </div>
            <form method="post" action="{{ path('zenstruck_media_mkdir', manager.requestParams) }}" class="form-horizontal">
                <div class="modal-body">
                    <div class="control-group">
                        <label class="control-label" for="zenstruck-media-new-folder-name">Directory Name</label>
                        <div class="controls">
                            <input type="text" name="dir_name" id="zenstruck-media-new-folder-name" autofocus="autofocus">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                    <input type="submit" class="btn btn-primary" value="Create" />
                </div>
            </form>
        </div>

        <div id="zenstruck-media-upload" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Upload Files</h3>
            </div>
            <form method="post" action="{{ path('zenstruck_media_upload', manager.requestParams) }}" class="form-horizontal" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="control-group">
                        <label class="control-label" for="zenstruck-media-upload-files">Select a File</label>
                        <div class="controls">
                            <input type="file" name="file" id="zenstruck-media-upload-files">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                    <input type="submit" class="btn btn-primary" value="Upload" />
                </div>
            </form>
        </div>

        <div id="zenstruck-media-rename" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Rename</h3>
            </div>
            <form method="post" action="" class="form-horizontal">
                <div class="modal-body">
                    <div class="control-group">
                        <label class="control-label" for="zenstruck-media-rename-new-name">New Name</label>
                        <div class="controls">
                            <input type="text" name="new_name" id="zenstruck-media-rename-new-name" autofocus="autofocus">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                    <input type="submit" class="btn btn-primary" value="Rename" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}